name: "CodeOwners Enforcement"

on:
  pull_request:
  merge_group:

jobs:
  enforce-codeowners:
    if: ${{ github.event_name == 'pull_request' }}
    name: "Enforce"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      pull-requests: write
    steps:
      - name: CODEOWNERS Sanity Check
        uses: smartcontractkit/.github/actions/codeowners-sanity-check@codeowners-sanity-check/v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
