name: Validate Go Mod Files

on:
  pull_request:
  merge_group:

jobs:
  go-mod-validation:
    name: Validate go.mod dependencies
    runs-on: ubuntu-latest
    # Skip on merge group events
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v4

      - name: Validate go.mod
        uses: smartcontractkit/.github/apps/go-mod-validator@go-mod-validator/v1
        with:
          repo-branch-exceptions: |
            smartcontractkit/chainlink-ccip:develop
            smartcontractkit/chainlink-sui:2.31.0-cherry-picked
